<h1 class = "text-center">Welcome to the Task Manager</h1>

<ul class = "list-group">
  <li class = "list-group-item"><a href = "/tasks"><h3><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Task Index</h3></a></li>
  <li class = "list-group-item"><a href = "/tasks/new"><h3><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> New Task</h3></a></li>
</ul>